<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Ftrain.com, by Paul Ford</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/m/ohlih/css/ext/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/m/ohlih/css/ext/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="/m/dotcom/css/ext/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/cupertino/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/m/dotcom/css/ftrain.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/m/dotcom/css/ext/jScrollPane.css" />
  </head>
  <body>
    <div class="container">
      <div class="span-5" id="navWrapper"> 
        <div id="nav">
          <h1><a href="/">Ftrain.com</a><span class="uni"> / <a href="/dotcom/subject/About">By Paul Ford</a></span></h1>
          <div class="quick">
            <a href="/Page: Archive">Archive:</a> 
            <div class="month-slider-box"> <div id="month-slider"></div></div>
          </div>
          <div id="search">
            <form action="ftrain.html" method="get">
              <input class="ui-corner-all" type="text" id="search_form" value="Recent" />
              <input class="ui-corner-all" type="submit" id="go_box" value="&#9758;" />
            </form>
          </div>
          <div id="list"></div>
        </div>
        <br/>

      </div>
      <div class="span-13 push-1 last">
        <div id="posts"> </div>
      </div>
    </div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1.3.2");
      google.load("jqueryui", "1.7.2");
    </script>
    <script type="text/javascript" src="/m/dotcom/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/m/dotcom/js/jquery.em.js"></script>
    <script type="text/javascript" src="/m/dotcom/js/jScrollPane.js"></script>
    <script type="text/javascript" src="/m/dotcom/js/ftrain.js"></script>
    <script type="text/javascript" src="http://www.ftrain.com/ftrain/ads/"></script>
  </body>
</html>


