<html>
  <head>
    <title>Ftrain.com, by Paul Ford</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://www.ftrain.com/media/ohlih/css/ext/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="http://www.ftrain.com/media/ohlih/css/ext/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="http://www.ftrain.com/media/ohlih/css/ext/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/cupertino/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="ftrain.css"/>
  </head>
  <body>
    <div class="container">
      <div class="span-14">
        <div class="mast span">
          <div class="span-8 hed">
	        <h1><a href="#">Ftrain.com</a><span class="uni"> / <a href="#About">By Paul Ford</a></span></h1>
          </div>
          <div class="span-6 last">
	        <div class="boyface"><img id="boy" src="boyface_alpha.png"/></div>
          </div>
        </div>

	    <div class="span-14 last">
          <div class="quick">
            <a href="About">About</a>
            <a href="Archive">Archive:</a> 
            <div class="month-slider-box"> <div id="month-slider"></div></div>
            <a href="Sites">Sites</a>
            <a href="Writing">Writing</a>
            <a href="Code">Code</a>
            <a href="Feeds">Feeds</a>
          </div>
        </div>
        
        <div class="span-14">
	      <div id="search">
            <form action="ftrain.html" method="get"><input class="ui-corner-all" type="text" id="search_form" value="Recent"/><input class="ui-corner-all" type="submit" id="go_box" value="&#9758;"/></form></div></div>
        <div class="options">say / tweet / facebook / stumble / reddit / email / delicious</div>
      </div>
      
      <div class="span-3 last">
        <div id="gp_ad"></div>
      </div>

      <div id="main">
	    <div class="span-14 last">
          <div id="posts">
	        <div class="post ftrain">
	          <img src="http://www.ftrain.com/media/photos/BridgeCouple.jpg"/>
	 <h2>About this site</h2>

     <p>We only have a moment so let me tell you the most important thing I have learned so far: <i>love should be easy and work should be hard.</i></p>

	 <h2>About the author</h2>

     <p>Paul Ford is a writer. He is an associate editor at Harper's Magazine and a computer programmer.</p>
     </div>
            <div class="post maryislaughing">
	 <h2>Do you like websites?</h2>

     <h3>My Sites</h3>
	 <table class="ohlih">
	   <tr>
	     <th>Site</th>
	     <th>Subject</th>
	     <th>Agenda</th>
	     <th>Updated</th>
	   </tr>

 	   <tr>
	     <td><a href="http://www.ftrain.com">Ftrain</a></td>
	     <td>Everything</td>
	     <td>Is this thing on?</td>
	     <td>At random</td>

	   </tr>

 	   <tr>
	     <td><a href="http://www.featurism.com">Featurism</a></td>
	     <td>Technology</td>
	     <td>Map nerdworld by cataloging features.</td>
	     <td>Tuesday, Thursday, Friday</td>
	   </tr>

 	   <tr>
	     <td><a href="http://www.maryislaughing.com">Mary is Laughing</a></td>
	     <td>Popular entertainment, esp. Jack Benny</td>
	     <td>Make sense of archives.</td>
	     <td>Monday, Wednesday, Friday</td>
	   </tr>

 	   <tr>
	     <td><a href="http://www.leastreview.com">Least Review</a></td>
	     <td>Media objects, physical objects, and ideas</td>
	     <td>Write less.</td>
	     <td>Weekdays</td>
	   </tr>

 	   <tr>
	     <td><a href="http://www.ohlih.com">One Huge Lesson in Humility</a></td>
	     <td>Diet</td>
	     <td>Lose weight.</td>
	     <td>Mealtimes</td>
	   </tr>

 	   <tr>
	     <td><a href="http://www.gratefulpublic.com">Grateful Public</a></td>
	     <td>Wage-slavery.</td>
	     <td>My new corporate ad network.</td>
	     <td>Whenever a client demands</td>
	   </tr>

 	   <tr>
	     <td><a href="http://www.commentsareclosed.com">Comments Are Closed</a></td>
	     <td>Babble</td>
	     <td>Listen.</td>
	     <td>Up to you</td>
	   </tr>

 	   <tr>
	     <td><a href="http://www.garybenchleyrockstar.com"><i>Gary Benchley, Rock Star</i></a></td>
	     <td>My novel</td>
	     <td>Promote.</td>
	     <td>2005</td>
	   </tr>

	 </table>

     <h3>Places I Work</h3>

     <h3>Sites I Visit</h3>

            </div>
            
	        <div class="post featurism">

<h2>Sites</h2>

<h3>My Sites</h3>

<p>Blah blah blah</p>

<h3>Other Sites</h3>

<p>Blah blah blah</p>



</div>
	        <div class="post ohlih">

<h2>Guidelines for Paul Ford, version 2009-08-30</h2>

<ol>

  <li><b>The goal is to look at things.</b> The big world is filled with lies and snakes, but awesome.</li>

  <li><b>Code is part of the story.</b> Executed on the server, it's hidden from the reader. So add sunlight; GPL everything.</li>

  <li><b>It's basically like exercise, or dying in the sun.</b> In that if you stop for three days you're all bloated and sluggish. Stick to the schedule. Websites like this are about ritual.</li>

  <li><b>Don't whore it up.</b> Don't put ads here. If you need scratch that bad then give handjobs or if it's really bad do WordPress installs.</li>

  <li><b>There is no author-reader contract.</b> Don't expect the audience to do anything for you, ever.</li>
  
  <li><b>But remain open to everything from anyone.</b> But listen to all the anger and criticism and praise and enjoy it.</li>

  </ol>

	        </div>
            
	        <div class="post">
	          <h2>Find and replace</h2>
	          <p>September 9, 2009 / From Featurism</p>
	        </div>
	      </div>
        </div>
      </div>
    </div>
    <script src="http://www.google.com/jsapi"></script>
    <script src="ftrain.js"></script>
</script>

<script src="http://www.ftrain.com/ftrain/ads/"></script>
<script type="text/javascript">
  google.setOnLoadCallback();
</script>
  </body>
</html>
