<html>
  <head>
    <title>Ftrain.com, by Paul Ford</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://www.ftrain.com/media/ohlih/css/ext/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="http://www.ftrain.com/media/ohlih/css/ext/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="http://www.ftrain.com/media/ohlih/css/ext/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/cupertino/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="ftrain.css"/>

  </head>
  <body>
    <div class="container">
      <div class="span-14">
        <div class="mast span">
          <div class="span-8 hed">
	        <h1><a href="#">Ftrain.com</a><span class="uni"> / <a href="#About">By Paul Ford</a></span></h1>
          </div>
          <div class="span-6 last">
	        <div class="boyface"><img id="boy" src="boyface_alpha.png"/></div>
          </div>
        </div>

	    <div class="span-14 last">
          <div class="quick">
            <a href="/dotcom/Archive">Archive:</a> 
            <div class="month-slider-box"> <div id="month-slider"></div></div>
            <a href="/dotcom/About">About</a>
            <a href="/dotcom/Sites">Sites</a>
            <a href="/dotcom/Writing">Writing</a>
            <a href="/dotcom/Code">Code</a>
            <a href="/dotcom/Feeds">Feeds</a>
          </div>
        </div>
        
        <div class="span-14">
	      <div id="search">
            <form action="ftrain.html" method="get"><input class="ui-corner-all" type="text" id="search_form" value="Recent"/><input class="ui-corner-all" type="submit" id="go_box" value="&#9758;"/></form>

            <div id="summary" style="font:9pt Verdana;color:#666;margin:1em 0 1.5em 0;">
              Here are <a href="/dotcom/searchURLGOES HERE">50 of 84 matches</a> / in <a href="/dotcom/searchURLGOES HERE">full text</a> / <a href="/dotcom/searchURLGOES HERE">highlighted</a> / and <a href="/dotcom/searchURLGOES HERE">sorted by date with most recent first</a>.
            </div>
        </div></div>
<!--        <div class="options">say / tweet / facebook / stumble / reddit / email / delicious</div>-->
      </div>
      
      <div class="span-3 last">
        <div id="gp_ad"></div>
      </div>

      <div id="main">
	    <div class="span-14 last">
          <div id="posts">
            <p>POSTS</p>
	      </div>
        </div>
      </div>
    </div>
    <script src="http://www.google.com/jsapi"></script>
    <script src="ftrain.js"></script>
</script>

<script src="http://www.ftrain.com/ftrain/ads/"></script>
<script type="text/javascript">
  google.setOnLoadCallback();
</script>
  </body>
</html>

